<!doctype html>
<html>
	<head data-include="header"></head>
	<body>
    <div id="searchWrap">
      <h1>OpenCompare 2</h1>
      <div id="searchForm">
        <input id="searchInput" type="text" name="search" placeholder="Search for any data" onkeypress="searchKeyPress(event)"><br><br>
        <button id="searchButton" onclick="search()"><span id="searchIcon" class="material-icons">search</span> Search</button>
				OR
				<button id="importButton" onclick="importPCM()"><span id="importIcon" class="material-icons">cloud_upload</span> Import</button>
      </div>
    </div>
		<div id="importZone">
		</div>
		<script>
			initDrop()
		</script>
	</body>
</html>
