<!doctype html>
<html>
	<head data-include="header"></head>
	<body>
		<div data-include="login"></div>

    <div id="searchWrap">
      <h1>OpenCompare 2</h1>
      <div id="searchForm">
				<div id="searchInputWrap">
        	<input id="searchInput" type="text" name="search" placeholder="Search for any data" onkeypress="searchKeyPress(event)"><!--
        	--><button id="searchButton" class="flatButton material-icons" onclick="search()">search</button>
				</div>
				<br>
				<br>
				<button id="importButton" onclick="importPCM()"><span class="material-icons">cloud_upload</span> Import</button>
				OR
				<button id="createButton" onclick="createPCM()"><span class="material-icons">add</span> Create from scratch</button>
      </div>
    </div>
		<div id="importDiv">
			<h1 id="importTitle">Drop your file to import it</h1>
			<div id="importIcon" class="material-icons">cloud_upload</div>
			<div id="importZone"></div>
		</div>
		<script>
			initDrop()
		</script>
	</body>
</html>
