<!doctype html>
<html>
	<head data-include="header"></head>
	<body>
		<div data-include="login"></div>

    <div id="searchWrap">
      <h1>OpenCompare 2</h1>
      <div id="searchForm">
        <input id="searchInput" type="text" name="search" placeholder="Search for any data" onkeypress="searchKeyPress(event)"><br><br>
        <button id="searchButton" onclick="search()"><span class="material-icons">search</span> Search</button>
				OR
				<button id="importButton" onclick="importPCM()"><span class="material-icons">cloud_upload</span> Import</button>
      </div>
    </div>
		<div id="importDiv">
			<h1 id="importTitle">Drop your file to import it</h1>
			<div id="importIcon" class="material-icons">cloud_upload</div>
			<div id="importZone"></div>
		</div>
		<script>
			initDrop()
		</script>
	</body>
</html>
