/*#chatButton, #chat {
  display: none !important;
}*/

#chartButtons {
  width: 100%;
  height: 56px;
  line-height: 56px;
  background-color: #EEEEEE;
}

#chartButtons {
  border-bottom: 1px solid #BDBDBD;
}

#chartButtons button {
  vertical-align: top;
  height: 56px;
  border-radius: 0px;
  box-shadow: none;
  border-right: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  background-color: #EEEEEE;
  color: black;
}

#chartButtons button:hover {
  background-color: #BDBDBD;
}

#chartButtons button.active {
  color: #009688; /* teal 500 */
  background-color: white;
  border-bottom-color: white;
}

#chartOptions {
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0 5px 0 5px;
}

#chartContent {
  width: 100%;
  height: calc(100% - 56px - 48px);
  overflow: hidden;
}

svg > text {
  fill: #9E9E9E; /* gray 500 */
}

line {
  stroke: #9E9E9E; /* gray 500 */
}

.node > circle {
  stroke: #009688; /* teal 500 */
  stroke-width: 1px;
}

/* Pie Chart */

.pieChart text {
  font: 13px Roboto-Regular;
}

.pieChart path {
  stroke: white;
}

/* Bar Chart */
.bar {
  fill: #009688; /* teal 500 */
}
