/*#chatButton, #chat {
  display: none !important;
}*/

#chartButtons, #chartOptions {
  width: 100%;
  height: 42px;
  line-height: 42px;
  padding: 0 5px 0 5px;
}

#chartContent {
  width: 100%;
  height: calc(100% - 84px);
  overflow: hidden;
}

svg > text {
  fill: #9E9E9E; /* gray 500 */
}

line {
  stroke: #9E9E9E; /* gray 500 */
}

.node > circle {
  fill: #009688; /* teal 500 */
}
