/* special */

.scrolled {
  box-shadow: 0 2px 10px rgba(0,0,0,0.24);
}

.scrolledBottom {
  box-shadow: 0 -2px 10px rgba(0,0,0,0.24);
}

.scrolledRight {
  box-shadow: 2px 0 10px rgba(0,0,0,0.24);
}

/* Link */

a {
  color: #009688; /* Teal 500 */
  cursor: pointer;
}

a:visited {
  color: #00796B; /* Teal 700 */
}

a:hover {
  text-decoration: underline;
}

/* Input */

input {
  outline: none;
}

/* Button */

button, .button {
  transition: 0.4s;
  min-width: 64px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px 0 16px;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: Roboto-Bold;
  font-size: 14px;
  background-color: #009688; /* Teal 500 */
  box-shadow: 0 1px 3px rgba(0,0,0,0.24);
  outline: none;
  cursor: pointer;
}

button > *, .button > * {
  vertical-align: middle;
}

button:hover, .button:hover {
  background-color: #4DB6AC; /* Teal 300 */
}

button:active, .button:active {
  transition: 0;
  background-color: #00796B; /* Teal 700 */
}

button.material-icons {
  min-width: 42px;
  padding: 0;
}

.flatButton {
  color: #009688; /* Teal 500 */
  background-color: transparent;
  box-shadow: none;
}

.flatButton:hover {
  background-color: rgba(0,0,0,0.07)
}

.flatButton:active {
  background-color: rgba(0,0,0,0.2)
}

.floatingButton {
  width: 48px;
  min-width: 0;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0,0,0,0.24);
}

/* text field */

.textField {
	transition: 0.2s;
	/*display: inline-block;*/
	position: relative;
	width: 100%;
	min-height: 65px;
  padding: 23px 0 22px 0;
	line-height: 1em;
}

.textField::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 22px;
	width: 100%;
	height: 1px;
	background-color: #9E9E9E; /* gray 500 */
}

.textField::after{
	content: "";
	transition: 0.2s;
	position: absolute;
	left: 50%;
	bottom: 22px;
	transform: translateX(-50%);
	width: 0;
	height: 2px;
	background-color: #009688; /* Teal 500 */
}

.textField.error::after {
  background-color: #F44336; /* red 500 */
}

.textField.active::after{
	width: 100%;
}

.textField input, .textField textarea {
  box-sizing: content-box;
	width: 100%;
	height: 18px;
	padding: 8px 0 8px 0;
	border: none;
	background-color: transparent;
	font-size: 1em;
	color: black;
	outline: none;
}

.textField textarea {
  height: calc(5em + 10px);
  padding-top: 0px;
  margin-top: 8px;
}

.textField label{
	transition: 0.2s;
	position: absolute;
	left: 0;
	top: 37px;
  z-index: -1;
	font-size: 14px;
  white-space: nowrap;
	color: #9E9E9E;
}

.textField.notEmpty label, .textField.active label {
	top: 16px;
	font-size: 11px;
	color: #009688; /* Teal 500 */
}

.textField.notEmpty.error label, .textField.active.error label {
  color: #F44336; /* red 500 */
}

.textField .errorMessage {
  position: absolute;
  left: 0;
  bottom: 0;
	font-size: 11px;
  color: #F44336; /* red 500 */
}

/* slider */

.slider {
  position: relative;
  width: 100%;
  height: 24px;
  user-select: none;
}

.slider * {
  user-select: none;
}

.sliderBar, .sliderFullBar {
  position: absolute;
  left: 0;
  top: 11px;
  width: 100%;
  height: 2px;
  background-color: #BDBDBD; /* gray 400 */
}

.sliderFullBar {
  background-color: #009688; /* Teal 500 */
}

.sliderThumb {
  transition: width 0.2s, height 0.2s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #009688; /* Teal 500 */
  cursor: pointer;
}

.sliderThumb:after {
  transition: 0.2s;
  content: "";
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #009688; /* Teal 500 */
  opacity: 0.2;
}

.sliderThumb:hover:after {
  top: -6px;
  left: -6px;
  width: 24px;
  height: 24px;
}

.sliderThumb:active:after {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.sliderThumb:active {
  width: 16px;
  height: 16px;
}

/* Checkbox */

.checkbox {
  user-select: none;
  height: 24px;
  line-height: 24px;
  margin: 5px 0 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checked {
  color: #009688; /* Teal 500 */
}

.not {
  color: #F44336; /* Red 500 */
}

.box {
  transition: 0.2s;
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #616161; /* gray 700 */
  border-radius: 2px;
  vertical-align: middle;
  margin-right: 8px;
  cursor: pointer;
}

.checked .box {
  border-color: #009688; /* Teal 500 */
  background-color: #009688; /* Teal 500 */
}

.box:after {
  content: "";
  transition: opacity 0.2s;
  position: absolute;
  opacity: 0;
}

.checked .box:after {
  top: 3px;
  left: 2px;
  width: 8px;
  height: 3px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  opacity: 1;
}

.not .box:after {
  top: 5.5px;
  left: 2px;
  width: 10px;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  opacity: 1;
}

.box:before {
  content: "";
  transition: opacity 0.2s;
  position: absolute;
  top: 5.5px;
  left: 2px;
  width: 10px;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  opacity: 0;
}

.not .box:before {
  opacity: 1;
}

.not .box {
  border-color: #F44336; /* Red 500 */
  background-color: #F44336; /* Red 500 */
}

.checkbox label {
  cursor: pointer;
}

/* Popup */

.popupWrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  background-color: rgba(0,0,0,0.24);
}

.popup {
  transition: top 0.2s;
  display: inline-block;
  position: fixed;
  top: 100%;
  left: 50%;
  min-width: 300px;
  max-width: calc(100% - 20px);
  max-height: calc(100% - 100px);
  transform: translateX(-50%);
  background-color: white;
  border-radius: 2px;
  overflow: auto;
  box-shadow: 0 10px 45px rgba(0,0,0,0.24);
}

.popupTitle {
  font-family: Roboto-Bold;
  font-size: 16px;
  padding: 24px 24px 20px 24px;
}

.popupContent {
  padding: 0 24px 24px 24px;
}

.popupActions {
  text-align: right;
  padding: 8px;
}

/* chips */
.chips {
  display: inline-block;
  margin-right: 5px;
  height: 32px;
  line-height: 32px;
  padding: 0 12px 0 12px;
  border-radius: 16px;
  background-color: #E0E0E0; /* gray 300 */
}

.chipsDelete {
  transition: 0.2s;
  display: inline-block;
  position: relative;
  left: 8px;
  top: -1px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  background-color: #009688; /* teal 500 */
  color: #E0E0E0; /* gray 300 */
  vertical-align: middle;
  cursor: pointer;
}

.chipsDelete:hover {
  background-color: #F44336; /* red 500 */
}

.chipsDelete::before {
  content: 'close';
  font-family: 'Material Icons';
  font-weight: 900;
}

/* badge */
.badge {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 24px;
  height: 24px;
  line-height: 22px;
  border: 1px solid #BDBDBD;
  border-radius: 12px;
  background-color: white;
  color: black;
  text-align: center;
  font-family: Roboto-Regular;
  font-size: 12px;
}

/* Select */
select {
  transition: 0.2s;
  height: 32px;
  padding: 0 5px 0 5px;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  background-color: white;
  font-family: Roboto-Regular;
  font-size: 14px;
}

select:hover {
  background-color: #F5F5F5; /* gray 100 */
}

/* Context menu */

.contextMenu {
  display: none;
  position: fixed;
  width: auto;
  height: 0;
  z-index: 10;
  overflow: hidden;
  background-color: white;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.24);
}

.contextMenu button {
  display: block;
  color: black;
  font-family: Roboto-Regular;
  text-align: left;
  width: 100%;
  white-space: nowrap;
}

/* Date Picker */

.datePickerButton {
  text-align: left;
  padding-left: 0px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Roboto-Medium;
  color: black;
}

.datePickerButton > .material-icons {
  margin-left: 5px;
}

.datePicker {
  display: none;
  position: fixed;
  width: 294px;
  z-index: 5;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 10px 45px rgba(0,0,0,0.24);
}

.yearDiv, .monthDiv {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background-color: #009688; /* teal 500 */
  color: white;
}

.yearDiv > button, .monthDiv > button {
  color: white;
}

.yearInput, .monthInput {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 84px);
  height: 100%;
  text-align: center;
  border: none;
  background-color: #009688; /* teal 500 */
  color: white;
  font-family: Roboto-Medium;
}

.dayName, .dayPadding, .day {
  display: inline-block;
  width: 42px;
  min-width: 42px;
  max-width: 42px;
  height: 42px;
  line-height: 42px;
  padding: 0;
  vertical-align: top;
  text-align: center;
}

.dayName {
  font-family: Roboto-Medium;
  font-size: 12px;
  color: #9E9E9E;
  height: 32px;
  line-height: 32px;
}

.day {
  border-radius: 50%;
  color: black;
}

.day.today {
  color: #009688; /* teal 500 */
}

.day.current {
  color: white;
  background-color: #009688; /* teal 500 */
}

.timeDiv > .textField {
  width: 63px;
  display: inline-block;
  margin: 0 5px 0 5px;
}

.datePicker > .actionDiv {
  text-align: right;
  padding: 5px;
}
