#editor {
  width: 100%;
  height: 100%;
}

#editorHeader {
  width: 100%;
  height: 60px;
}

#editorHeader > * {
  display: inline-block;
  vertical-align: top;
}

#editorLogo {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: white;
  font-family: Roboto-Black;
  font-size: 32px;
  text-decoration: none;
  background-color: #009688; /* Teal 500 */
}

#editorHeaderContent {
  width: calc(100% - 60px);
  height: 100%;
  padding: 0 5px 0 5px;
}

#pcmName {
  width: 100%;
  height: 43px;
  line-height: 43px;
  font-family: Roboto-Black;
  font-size: 32px;
}

.pcmAttributeTitle {
  display: inline;
  font-family: Roboto-Bold;
}

.pcmAttribute {
  display: inline;
  color: #9E9E9E; /* Gray 500 */
}

#editorBody {
  width: 100%;
  height: calc(100% - 60px);
}

#editorTopBar {
  width: 100%;
  height: 37px;
  line-height: 35px;
  background-color: #EEEEEE;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}

#editorTopBar > * {
  vertical-align: middle;
  position: relative;
  top: -1px;
}

#editorTopBar button {
  height: 25px;
  line-height: 25px;
  border: 1px solid transparent;
  color: black;
  background-color: transparent;
  box-shadow: none;
}

#editorTopBar button:hover {
  border-color: #BDBDBD;
  box-shadow: 0 0 2px rgba(0,0,0,0.24);
}

#showConfiguratorButton {
  width: 200px !important;
  height: 100% !important;
  border: none !important;
  border-radius: 0 !important;
  border-right: 1px solid #BDBDBD !important;
  box-shadow: none !important;
}

#showConfiguratorButton:hover {
  background-color: #FAFAFA !important; /* gray 50 */
}

#showConfiguratorButton:active {
  background-color: #BDBDBD !important; /* gray 400 */
}

#showConfiguratorButton:before {
  content: "";
  transition: 0.2s;
  position: relative;
  top: -1px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 8px solid black;
  margin-right: 8px;
}

.configuratorHidden #showConfiguratorButton:before {
  transform: rotate(180deg);
}

#editorContent {
  width: 100%;
  height: calc(100% - 37px);
}

#editorContent > * {
  display: inline-block;
  vertical-align: top;
}

/* configurator */

#configurator {
  transition: 0.2s;
  width: 200px;
  height: 100%;
  background-color: #EEEEEE;
  border-right: 1px solid #BDBDBD;
  overflow: hidden;
}

.configuratorHidden #configurator {
  width: 1px;
}

#configuratorTitle {
  width: 100%;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border-bottom: 1px solid #BDBDBD;
}

#configuratorContent {
  width: 100%;
  height: calc(100% - 56px);
  overflow: auto;
}

.filter {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #BDBDBD;
  overflow: hidden;
}

.filterButton {
  transition: 0.2s;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0 8px 0 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filterButton:hover {
  background-color: #FAFAFA; /* gray 50 */
}

.filterButton:active {
  background-color: #BDBDBD; /* gray 400 */
}

.filterArrow {
  transition: 0.2s;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid black;
}

.filter.extended .filterArrow {
  transform: rotate(90deg);
}

.filterContent {
  padding: 0 8px 16px 8px;
}

.filterContent button {
  width: 100%;
  margin: 5px 0 5px 0;
}

#editorViews {
  transition: 0.2s;
  width: calc(100% - 200px);
  height: 100%;
}

.configuratorHidden #editorViews {
  width: calc(100% - 1px);
}

.editorView {
  width: 100%;
  height: 100%;
  overflow: auto;
}
