#searchWrap {
  width: 100%;
  padding: 24px;
  text-align: center;
}

#importZone {
  display: none;
  transition: opacity 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #009688; /* Teal 500 */
  opacity: 0;
}

#importZone.dragover {
  display: block;
  opacity: 0.24;
}
