#pcmView {
  transition: 0.2s;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 0;
  overflow: hidden;
}

#pcmView.cellEditVisible {
  padding-top: 56px;
}

#cellEdit {
  transition: 0.2s;
  position: absolute;
  top: -56px;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #BDBDBD;
  padding: 0 28px 0 28px;
  background-color: white;
  z-index: 4;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#cellEdit.disable {
  background-color: #F44336; /* red 500 */
  color: white;
  overflow: hidden;
}

#cellEdit.disable::before {
  content: "You are not connected to the server";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#cellEdit.disable * {
  display: none;
}

.cellEditVisible #cellEdit {
  top: 0;
}

#cellEdit > * {
  vertical-align: middle;
}

#cellEditType {
  display: inline-block;
  background-color: #26a69a;
  color: white;
  border-radius: 2px;
  padding: 5px;
  line-height: 1em;
  margin-right: 5px;
  cursor: pointer;
}

#cellEditInputWrap {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  height: 100%;
  overflow: auto;
  overflow-y: hidden;
}

#cellEditInputWrap > * {
  vertical-align: middle;
}

#cellEditInputWrap > .datePickerButton {
  margin-top: 9px;
}

#cellEditInput {
  min-width: 200px;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
}

#closeCellEditButton {
  display: inline-block !important;
  position: absolute;
  top: 10px;
  right: 10px;
}

#pcm {
  width: 100%;
  height: 100%;
}

#pcmFeatures {
  position: relative;
  height: 56px;
  padding-right: 15px; /* for scroll bar */
  white-space: nowrap;
  background-color: white;
  z-index: 3;
  overflow: hidden;
  border-bottom: 1px solid #BDBDBD;
}

#pcmContent {
  position: relative;
  width: 100%;
  height: calc(100% - 56px);
  overflow: auto;
}

#pcmProducts {
  /*position: relative;*/
  white-space: nowrap;
}

#fixedFeaturesName, #fixedFeaturesColumn {
  display: inline-block;
  position: absolute;
  left: 0;
  background-color: white;
  border-right: 1px solid #BDBDBD;
  z-index: 2;
  white-space: nowrap;
}

#fixedFeaturesName:empty , #fixedFeaturesColumn:empty {
  border: none;
}

#fixedFeaturesName {
  top: 0;
  z-index: 1;
}

.alignRight {
  text-align: right;
}

.pcmFeature, .pcmCell {
  padding: 0 28px 0 28px;
  border-bottom: 1px solid #BDBDBD;
  cursor: pointer;
}

.pcmFeature {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 56px;
  line-height: 56px;
  padding-right: 44px;
  font-family: Roboto-Medium;
  font-size: 12px;
  color: #9E9E9E; /* gray 500 */
}

.pcmFeature.alignRight {
  padding-right: 28px;
  padding-left: 44px;
}

.pcmFeature:hover {
  border-bottom: 3px solid #009688; /* Teal 500 */
}

.increase, .decrease {
  color: #009688; /* Teal 500 */
}

.pcmFeature:after {
  content: "";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  display: inline-block;
  width: 1em;
  vertical-align: top;
  margin-left: 12px;
}

.pcmFeature.increase:after {
  content: "arrow_downward";
}

.pcmFeature.decrease:after {
  content: "arrow_upward";
}

.pcmFeature.alignRight:after {
  content: none;
}

.pcmFeature.alignRight:before {
  content: "";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  display: inline-block;
  width: 1em;
  vertical-align: top;
  margin-right: 12px;
}

.pcmFeature.alignRight.increase:before {
  content: "arrow_downward";
}

.pcmFeature.alignRight.decrease:before {
  content: "arrow_upward";
}

.pcmFeature button {
  position: absolute;
  top: 10px;
  right: 2px;
  color: #9E9E9E; /* Gray 500 */
  opacity: 0;
}

.pcmFeature:hover button {
  opacity: 1;
}

.pcmFeature button:hover {
  color: #009688; /* Teal 500 */
}

.pcmFeature.alignRight button {
  right: auto;
  left: 2px;
}

.pcmColumn {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.pcmCell {
  transition: 0.2s;
  font-size: 13px;
  color: #212121; /* gray 900 */
  height: 48px;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pcmCell:hover {
  background-color: #E0F2F1; /* teal 50 */
}

.pcmCell.selected {
  color: white;
  background-color: #009688; /* Teal 500 */
}

.pcmCell.selected a {
  color: white;
}

.pcmCell img {
  width: auto;
  height: 40px;
  vertical-align: middle;
}
