#searchBar {
  width: 100%;
  height: 61px;
  line-height: 60px;
  padding: 0 24px 0 24px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #EEEEEE;
}

#searchBar > * {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

#searchInputWrap {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 42px;
  text-align: left;
}

#searchInput, #searchButton {
  vertical-align: top;
}

#searchInput {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px;
  padding-right: 52px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.20), 0 0 0 1px rgba(0,0,0,0.10);
}

 #searchInput:focus {
   box-shadow: 0 5px 10px rgba(0,0,0,0.20), 0 0 0 1px rgba(0,0,0,0.10);
 }

 #searchButton {
   position: absolute;
   top: 0;
   right: 0;
   border-radius: 0;
 }

 #searchBar #searchInput:focus {
   box-shadow: 0 3px 6px rgba(0,0,0,0.20), 0 0 0 1px rgba(0,0,0,0.10);
 }

 #searchButton, #importButton, #createButton {
   height: 42px;
 }

 #openCompareLogo {
   display: inline-block;
   margin-right: 22px;
   color: black;
   text-decoration: none;
 }

 #searchResults {
   width: 100%;
   height: calc(100% - 61px);
   padding: 5px 147px 0 147px;
   overflow: auto;
 }

.searchResult {
  margin: 24px 0 24px 0;
}

.searchName {
  font-size: 16px;
}

.searchDescription {
  color: #424242; /* Gray 800 */
  font-size: 13px;
}
